<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="TipShapka">
    <h1>LOGOWAY</h1>
</div>

<div class="mem">
    <img class="mems" src="https://www.meme-arsenal.com/memes/7973e5cfc04d4459a81a091a76df4044.jpg">
</div>

<div class="end3">
          <p>ВСО КОНЕЦ ЧЁ</p>
      </div>

</body>
</html>
</body>
</html>