<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Title</title>

</head>

<body>
<div class="header">
    <div class="container">
        <div class="header-line">


<div class="nameOne">
    <div class="text"><h1>ТУР ПО ВСЕМУ МИРУ</h1> </div>
    <div class="text2"><span>Свяжитесь с нами, вместе мы спланируем и организуем ваше незабываемое путешествие</span></div>

    <a href="vibor.html" class="button2"></a>

</div>
        </div>
    </div>
</div>







 </div>
 </div>



        </div>

    </div>

</div>
</body>
</html>