<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="TipShapka">
    <h1>LOGOWAY</h1>
</div>

<div class="mem">
    <img class="mems" src="https://sun9-6.userapi.com/impf/c824410/v824410100/ca3f7/2sklhTEZKLA.jpg?size=435x534&quality=96&sign=33edfbc2cc300e68ecbcb88d24e5e641&type=album">
</div>



<div class="end1">
          <p>ВСО КОНЕЦ ЧЁ</p>
      </div>

</body>
</html>