<!DOCTYPE html>
<header>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

    <div class="TipShapka">
    <h1>LOGOWAY</h1>
</div>


    <div>
      <p>
      <h2>Скоро отправление...</h2>
      </p>
    </div>
  </header>




  <div class="block">
    <div class="item">
      <img src="https://xn-----8kcg5abu8arff1h1b.xn--p1ai/uploads/page/preview/romma.jpg"

        alt="Видимо, у вас не прогрузилась картинка. Перезагрузите страницу или нажмите на надписи снизу."
        class="round">
      <p>Рим является столицей Италии.
          Это не только политический центр страны,
          но и главный культурный город,
          который является одним из самых древних исторических памятников во всем мире.
          Благодаря огромному количеству туристов это место имеет огромное экономическое значение.
          Далее расскажем более подробно о Риме, а именно все то, что будет полезно людям, которые решили отправиться туда в путешествие.</p>

       <div class="butTwo">
        <a href="Rim.html" class="button3" tabindex="0"></a>
        </div>

    </div>
    <!-- /.item -->
    <div class="item">
      <img src="https://experience-ireland.s3.amazonaws.com/thumbs2/4c57e940-099e-11e8-a93b-6e714efd800d.384x289.jpg" alt="Видимо, у вас не прогрузилась картинка. Перезагрузите страницу или нажмите на надписи снизу." class="round">
      <p>Афины - столица Греции и центр исторической области Аттика.
          Являются крупнейшим городом страны, её экономическим и культурным центром.
          Афины - один из самых значительных древнегреческих полисов и символ западной цивилизации.
          Это город, который многие считают колыбелью европейской культуры и науки.
          Здесь жили и творили Сократ, Платон, Аристотель, Софокл, Еврипид.
          Город назван в честь богини мудрости Афины и известен своим Акрополем,
          который является одним из самых захватывающих древних руин в мире с поразительными артефактами времён Древней Греции.</p>

       <div class="butTwo">
        <a href="Afin.html" class="button3" tabindex="0"></a>
        </div>

    </div>

  <div class="item">
      <img src="https://media.expedia.com/hotels/12000000/11240000/11234500/11234488/658ea206_b.jpg" alt="Видимо, у вас не прогрузилась картинка. Перезагрузите страницу или нажмите на надписи снизу." class="round">


      <p>Анкара - столица Турции и второй по численности населения город страны после Стамбула.
          Это динамичный мегаполис, расположенный на холмах Центральной Анатолии.
          Анкара - сердце Турецкой Республики, город с яркой индивидуальностью и интересным синтезом Востока и Запада.
          Это настоящий символ современной Турции, место с которого началась новая эра для турецкого народа</p>

       <div class="butTwo">
        <a href="Ankar.html" class="button3" tabindex="0"></a>
        </div>

    </div>
    <!-- /.item -->


    <!-- /.item -->
  </div>
  <!-- /.block -->
<div class="end">
          <p>ВСО КОНЕЦ ЧЁ</p>
      </div>